<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMCLYVUljhIs5Tzg_GO4jfP1vTquDRY18</string>
	<key>GCM_SENDER_ID</key>
	<string>618105289905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.magangPidum</string>
	<key>PROJECT_ID</key>
	<string>pidum-37a51</string>
	<key>STORAGE_BUCKET</key>
	<string>pidum-37a51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618105289905:ios:5b945b0562b0e4f4e33690</string>
</dict>
</plist>